/* Error: expected "{".
 *   ,
 * 5 |         <!-- 文章头部 -->
 *   |          ^
 *   '
 *   src/views/Article/Detail.vue 5:10  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 5 \2502          <!-- \6587 \7ae0 \5934 \90e8  -->\a   \2502           ^\a   \2575 \a   src/views/Article/Detail.vue 5:10  root stylesheet';
}
